* {
  margin: 0 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid;
  padding: 10px 30px;
}

.logo {
  display: inline-block;
  color: mediumaquamarine;
  padding-left: 10px;
}

ul {
  display: inline-flex;;
  flex-grow: 2;
  justify-content: flex-end;
}

li {
  display: inline-block;
  padding: 15px;
}

a {
  color: black;
}
